.kiskep{
    object-fit: cover;
}

.left{
    font-size: 50px;
}

.right{
    font-size: 50px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.kivalasztott img{
    width: 100%;
    height: auto;
}